.labelContainer{
  width:80%;
  text-align:left;
  display: flex;
  justify-content:center;
  align-items:center;
  margin:5px;
  border:1px solid black;
  border-radius:15px;
  padding:0.2rem;
}
.calculate_label{
  width:40%;
display: flex;
  justify-content:space-between
}
.inputNumber{
  border:none;
  border-bottom: 1px solid black;
  width:15%;
  text-align:right;
}